
*{ background-color: var(--color-black); }

.card {
    height: 100%;
    padding: 4px;
    margin: 0;
}

.image-container{
    height: 87%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.flex-center{
    display: flex;
    justify-content: center;
}

.spinner{
   width: 40px;
   height: 40px;
   
}
