<ion-header>
  <ion-toolbar>
     <ion-title>
      <app-back-button [url]="backButtonUrl"></app-back-button>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!isServicesListView; else servicesListView">
    <app-my-barbers></app-my-barbers>
</ng-container>
</ion-content>


<ng-template #servicesListView>
  <ion-grid>
    <ion-row *ngFor="let apointmentListItem of apointmentListItems; let i = index;">
    <ion-col size="12" size-sm="12">
    <ion-list>
      <ion-item
      button="true"
      (click)="onOpenListItemsModal(i)"
       detail>
        <ion-label>
          <p>{{ apointmentListItem.title }}</p>
          <h2>{{ apointmentListItem.value }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="6" size-sm="6">
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Appointment Date:</p>
            <h2>{{ todaysDate | date }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
      </ion-col>

      <ion-col size="6" size-sm="6">
        <ion-list>
          <ion-item>
            <ion-label *ngIf="!isCalculateTotalCost">
              <p>Total cost:</p>
              <h2 strong="true">{{totalOrderCost | currency: 'USD'}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="12">
          <ng-container *ngIf="isCalculateTotalCost; else bookAptRef">
            <ion-button [disabled]="apointmentOrderColection.size < 5"
            (click)="calculateBookingCost()"
            size="large" expand="block">
             Calculate Cost
           </ion-button>
          </ng-container>

              <ng-template #bookAptRef>
                  <ion-button (click)="bookApointment()"
                  size="large" expand="block">
                  Book
                </ion-button>

                <ion-button (click)="cancelApointment()"
                size="large" expand="block" color="danger">
                Cancel
              </ion-button>
              </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>


</ng-template>
