<ion-header>
  <ion-toolbar>
     <ion-title>
      <app-back-button [url]="backButtonUrl"></app-back-button>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
<ion-row *ngFor="let apointmentListItem of apointmentListItems; let i = index;">
<ion-col size="12" size-sm="12">
<ion-list>
  <ion-item 
  button="true"
  (click)="setSelectedListItemValue(i)"
   detail>
    <ion-label>
      <p>{{ apointmentListItem.title }}</p>
      <h2>{{ apointmentListItem.value }}</h2>
    </ion-label>
  </ion-item>
</ion-list>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
