<ion-header>
  <ion-toolbar>
     <ion-title>
      <app-back-button [url]="backButtonUrl"></app-back-button>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!isServicesListView; else servicesListView">
    <ion-label>
      <h1>Please select a barber</h1>
    </ion-label>
    <ion-list>
  <ion-item *ngFor="let barber of barbers; let i = index;"
    routerDirection="forward"
    button="true"
    (click)="getSelectedBarber(i)">
    <ion-thumbnail>
      <ion-img src={{barber.companyImage}}>
   </ion-img>
    </ion-thumbnail>
  <ion-label>
    <h2>{{ barber.firstName }} {{ barber.lastName }}</h2>
    <p>{{ barber.address }}</p>
  </ion-label >
  </ion-item>
</ion-list>
</ng-container>
</ion-content>


<ng-template #servicesListView>
  <ion-grid>
    <ion-row *ngFor="let apointmentListItem of apointmentListItems; let i = index;">
    <ion-col size="12" size-sm="12">
    <ion-list>
      <ion-item
      button="true"
      (click)="onOpenListItemsModal(i)"
       detail>
        <ion-label>
          <p>{{ apointmentListItem.title }}</p>
          <h2>{{ apointmentListItem.value }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="6" size-sm="6">
      <ion-list>
        <ion-item>
          <ion-label>
            <p>Appointment Date:</p>
            <h2>{{ todaysDate | date }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
      </ion-col>

      <ion-col size="6" size-sm="6">
        <ion-list>
          <ion-item>
            <ion-label>
              <p>Total cost:</p>
              <h2>300.00</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="12">
              <ion-button (click)="bookApointment()"
               size="large" expand="block">
                Book
              </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


</ng-template>
