
<div class="register-container" *ngIf="!isRegistered; else successfulPage">
<form [formGroup]="newCustomerForm" (ngSubmit)="onSubmit()">
  <ion-card-header>
    <h4>Sign Up</h4>
  </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="10" >
          <ion-item>
           <ion-label position="floating">First Name</ion-label>
           <ion-input formControlName="firstName" type="text" clearInput ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10">
          <ion-item>
           <ion-label position="floating">Last Name</ion-label>
           <ion-input formControlName="lastName" type="text" clearInput></ion-input>
          </ion-item>
        </ion-col>
     </ion-row>

     <ion-row>
      <ion-col size="8">
        <ion-item>
         <ion-label position="floating">Phone</ion-label>
         <ion-input formControlName="phone" type="number" clearInput></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="4">
        <ion-item>
         <ion-label position="floating">Gender</ion-label>
         <ion-select formControlName="gender" [value]="gender[0]">
           <ion-select-option *ngFor="let g of gender" [value]="g">{{g}}</ion-select-option>
         </ion-select>
        </ion-item>
      </ion-col>
     </ion-row>

     <ion-row>
       <ion-col size="8">
         <ion-item>
          <ion-label position="floating">Location Address</ion-label>
          <ion-input formControlName="address" type="text" clearInput></ion-input>
         </ion-item>
       </ion-col>

       <ion-col size="3" offset="1">
        <ion-item>
         <ion-label position="floating">Age</ion-label>
         <ion-input formControlName="age" type="number"></ion-input>
        </ion-item>
      </ion-col>
     </ion-row>
     </ion-grid>

     <fieldset>
       <legend>Accounts</legend>
       <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
               <ion-label position="floating">Email</ion-label>
               <ion-input
               formControlName="email"
               type="email" clearInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item>
               <ion-label position="floating">Password</ion-label>
               <ion-input
                formControlName="password"
                type="password" clearInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </fieldset>

  <ion-button
  color="success"
  expand="block"
  size="large"
  style="margin: 5px 3%;"
  type="submit"
  >
  {{ isLoading ? 'Processing' : 'Submit'}}
  <div class="ion-margin-start" *ngIf="isLoading">
    <ion-spinner class="spinner" color="light" name="lines"></ion-spinner>
  </div>
</ion-button>
</form>
</div>


<ng-template #successfulPage>
  <div class="sucess-page">
 <div class="success-icon">
  <ion-icon name="checkmark-circle" color="success"></ion-icon>
 </div>
    <h4>Registration Complete !!</h4>
    <ion-button
    color="success"
    expand="block"
    size="large"
    routerDirection="foward"
    (click)="onRegistrationComplete()"
    > Done </ion-button>
  </div>
</ng-template>
