<ion-header>
  <ion-toolbar>
    <ion-segment
    (ionChange)="onFilteredSegment($event)"
    [value]="selectedSegment"
     mode="ios">
      <ion-segment-button value="login">Login</ion-segment-button>
      <ion-segment-button value="register">Register</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="selectedSegment">
  <ng-container *ngSwitchCase="'login'">
    <app-login></app-login>
  </ng-container>

  <ng-container *ngSwitchCase="'register'">
    <app-register-user></app-register-user>
  </ng-container>

</ion-content>
