
#dashboard-icon {
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin-bottom: 1rem;
    padding: 10px;
    border: 2px solid var(--color-light-blue);
    color: var(--color-light-blue);
    border-radius: 30px;
}

#dashboard-card-title, #dashboard-card-content{
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-light-blue);
}

