
  <ion-header>

    <ion-card>
      <ion-card-content id="dashboard-card-content">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let slidesImage of slidesImages;">
            <ion-img id="slide-img" [src]="slidesImage.src"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>


  </ion-header>

  <ion-content >

<ion-grid>
  <ion-row>
    <ion-col size="6" class="ion-align-self-center" fixed="true"
     *ngFor="let card of cards;">
      <ion-card button="true" [routerLink]="card.tab" routerDirection="forward">
        <ion-card-header>
          <ion-card-subtitle>
            <ion-icon [name]="card.iconName" id="dashboard-icon"></ion-icon>
          </ion-card-subtitle>
          <ion-card-title id="dashboard-card-title"> {{ card.title }} </ion-card-title>
        </ion-card-header>

        <ion-card-content id="dashboard-card-content">
          {{ card.subTitle }}
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
