<ng-container *ngIf='!isUsedAsChild'>
  <ion-header class="ion-margin-bottom">
    <ion-toolbar>
      <app-back-button [url]="backButtonUrl" slot="start"></app-back-button>
     <ion-title> Your Barbers List </ion-title>
     <ion-button
     slot="end"
      size="default"
      fill="clear"
      shape="round"
      strong="true"
      routerDirection="foward"
      (click)="addBarber()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
     </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf='isUsedAsChild; else contentItems'>
</ion-content>
</ng-container>

<ng-container *ngIf='!isUsedAsChild; else contentItems'>
</ng-container>


<ng-template #contentItems>
  <ion-content>
    <ion-list>
    <ion-item detail
    *ngFor="let barber of barbers; let i = index;"
    button="true"
    (click)="getSelectedBarber(i)">
    <ion-thumbnail class="ion-margin-end">
      <ion-img [src]='barber.companyImage'>
      </ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ barber.firstName }} {{ barber.lastName }}</h2>
      <p>{{ barber.address }}</p>
    </ion-label >
  </ion-item>
</ion-list>
</ion-content>
</ng-template>
