<ng-container *ngIf='!isUsedAsChild'>
  <ion-header class="ion-margin-bottom">
    <ion-toolbar>
      <app-back-button [url]="backButtonUrl" slot="start"></app-back-button>
     <ion-title> Your Barbers List </ion-title>

      <ion-chip
      slot="end"
      color="success"
      fill="clear"
      strong="true"
      outline="true"
      routerDirection="foward"
      (click)="openAddBarberModal()"
      class="ion-margin-end"
      >
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Add</ion-label>
      </ion-chip>
      <!-- <ion-button
      slot="end">
     </ion-button> -->
    </ion-toolbar>
</ion-header>

<ion-content *ngIf='isUsedAsChild; else contentItems'></ion-content>
</ng-container>

<ng-container *ngIf='!isUsedAsChild; else contentItems'></ng-container>


<ng-template #contentItems>
  <ion-content>
    <ion-item-sliding
    #slidingItem
    *ngFor="let barber of barbers; let i = index;">
      <ion-list *ngIf="isInternetAvailable">
        <ion-item
        [detail]="isUsedAsChild"
        button="true"
        (click)="getSelectedBarber(i)">
        <ion-thumbnail class="ion-margin-end">
          <ion-img [src]='barber.companyImage'>
          </ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ barber.firstName }} {{ barber.lastName }}</h2>
          <p>{{ barber.address }}</p>
        </ion-label >
      </ion-item>
    </ion-list>
      <ion-item-options *ngIf="!isUsedAsChild">
            <ion-item-option color="danger" (click)="deleteBarber(i, slidingItem)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

<div>
  <app-internet-and-empty-list-error-view
  [isInternetAvailable]="isInternetAvailable"
  [shouldShowEmptyList]="shouldShowEmptyList"
  ></app-internet-and-empty-list-error-view>
</div>

</ion-content>
</ng-template>
