<ng-container
 *ngIf="isLoading; then loader else dashboard">
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #dashboard>
  <ion-app>
    <ion-split-pane contentId="main-content">
      <ion-menu
      type="push"
      [disabled]="disableIonMenu"
      contentId="main-content"
      side="start">
        <ion-header >
          <ion-toolbar>
            <ion-chip (click)="navigateToUserProfile()">
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>James Orion</ion-label>
            </ion-chip>
          </ion-toolbar>
        </ion-header>

        <ion-content>
         <div class="list-container">
          <ion-list *ngFor="let menuRoute of menuRoutes;">
            <ion-menu-toggle>
              <ion-item
              button="true"
              lines="none"
              [routerLink]="menuRoute.url">
             <ion-icon slot="start" [name]="menuRoute.name"></ion-icon>
             <ion-label>{{menuRoute.label}}</ion-label>
             </ion-item>
            </ion-menu-toggle>
            </ion-list>
         </div>
        </ion-content>
        <ion-button
        color="danger"
        expand="full"
        (click)="logOut()"
        >
        Log Out <ion-icon name="log-out-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-app>

</ng-template>
