<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons>
    <ion-button (click)="onCloseListView()"
     color="primary">
        <ion-icon name="close"></ion-icon>
    </ion-button>
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col szie="12">
        <ion-list>
          <!-- ng-template views list.. -->
          <ng-template [ngIf]="dataFromParent.selectedItemIndex === 0">
          <ion-item
           button="true"
           (click)="getSelectedItem(hairServiceType)"
           *ngFor="let hairServiceType of barber.hairServiceType; let i = index;">
          <ion-label>
            <h2>{{ hairServiceType.title }}</h2>
            <p> {{ hairServiceType.subTitle }}</p>
          </ion-label>

          <ion-label slot="end">
            <p>Cost: {{ hairServiceType.cost | currency: 'USD'}}</p>
          </ion-label>
          </ion-item>
        </ng-template>

        <ng-template [ngIf]="dataFromParent.selectedItemIndex === 1">
          <ion-item
           button="true"
           (click)="getSelectedItem(hairStyle)"
          *ngFor="let hairStyle of barber.hairStyle" >
            <ion-thumbnail>
              <ion-img src={{hairStyle.hairStyleImage}}></ion-img>
            </ion-thumbnail>
          <ion-label>
            <h2>{{hairStyle.hairStyleName}}</h2>
            <p>{{hairStyle.cost | currency:'USD'}}</p>
          </ion-label>
          </ion-item>
        </ng-template>

        <ng-template [ngIf]="dataFromParent.selectedItemIndex === 2">
          <h2>Select a color</h2>

          <ion-item
          button="true"
          (click)="getSelectedItem(hairDieColor)"
          *ngFor="let hairDieColor of barber.hairDieColors">
            <ion-label>
              <h2>{{hairDieColor.color}}</h2>
            </ion-label>

            <ion-label slot="end">
              <p> Cost: {{hairDieColor.cost | currency:'USD'}}</p>
            </ion-label>
            </ion-item>
        </ng-template>

        <ng-template [ngIf]="dataFromParent.selectedItemIndex === 3">
          <h2>Select a cliper</h2>

          <ion-item
          button="true"
          (click)="getSelectedItem(cliperType)"
          *ngFor="let cliperType of barber.cliper">
            <ion-thumbnail>
              <ion-img src={{cliperType.cliperImage}}></ion-img>
            </ion-thumbnail>
          <ion-label>
            <h2>{{cliperType.cliperName}}</h2>
            <p>{{cliperType.brand}}</p>
          </ion-label>
          <ion-label slot="end">
            <p> Cost: {{cliperType.cost | currency:'USD'}}</p>
          </ion-label>
            </ion-item>
        </ng-template>

        <ng-template [ngIf]="dataFromParent.selectedItemIndex === 4">
          <ion-item
          button="true"
          (click)="getSelectedItem(hairTreatmentOption)"
          *ngFor="let hairTreatmentOption of barber.hairTreatmentOptions"
          >
            <ion-label>
              <h2>{{ hairTreatmentOption.option }}</h2>
            </ion-label>

            <ion-label slot="end">
              <p> Cost: {{ hairTreatmentOption.cost | currency:'USD'}}</p>
            </ion-label>
            </ion-item>
        </ng-template>
 <!-- ng-template views list.. end -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
