:root{
    --color-light-blue: rgb(39, 105, 100);
    --color-gray: rgb(80, 97, 96);
    --color-white: #fff;
    --color-black: #000;

}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body{
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
}

.center-item-vertical{ margin-top: 40vh; }
