<ion-header >
  <ion-toolbar>
    <ion-title slot="end">
      <ion-icon name="sunny"></ion-icon>
    </ion-title>

    <ion-toggle slot="end"></ion-toggle>

    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button *ngFor="let tabRoute of tabRoutes;" [tab]="tabRoute.url">
        <ion-icon [name]="tabRoute.name"></ion-icon>
        <ion-label>{{ tabRoute.label }}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
